.micronews {
	border: 3px solid #eee;
	padding: 1px;
	margin-bottom: 10px;
}

.micronews-drop {
	border: 5px dashed #ccc;
	background: #fff url(drophere.png) center center no-repeat;
	margin-bottom: 10px;
}

.micronews-headline {
	background: #ddd;
	padding: 10px;
}

.micronews-headline h2 {
	margin: 0;
}

.micronews-headline .mover {
	float: right;
}

.micronews-headline .counter {
	float: right;
	margin-right: 250px;
}

.micronews-headline .counter a {
	font-weight: bold;
	margin: 0 10px;
}

.micronews-headline .counter a.active {
	text-decoration: underline;
	color: red;
}

.micronews-inner {
	height: 0px;
	overflow: hidden;
}

.micronews-wrapper {
	padding: 0;
	background: #fff;
}

.micronews-titles {
	border-top: 1px solid #ccc;
	background: #eee;
	padding: 5px 0;
	font-weight: bold;
	color: #666;
	border-bottom: 1px solid #ddd;
}

.micronews-titles .top-story {
	float: left;
	width: 220px;
	padding: 0 10px;
}

.micronews-titles .topic-names {
	float: right;
	width: 120px;
	padding: 0 10px;
}

.micronews-titles .other-stories {
	margin-left: 260px;
	margin-right: 150px;
}

.micronews .sub-categories {
	float: right;
	width: 120px;
	padding: 0 10px;

}

.micronews .sub-categories div {
	padding: 5px 0;
}

.micronews .lead-articles {
	float: left;
	width: 220px;
	padding: 0 10px;

}

.micronews h4 a {
	font-weight: bold;
}

.micronews-thumb {
	float: left;
	margin-right: 5px;
}

.micronews .lead-articles h4 {
	font-size: 150%;
	line-height: 100%;
	margin: 5px 0 10px;
}

.micronews .simple-articles {
	border-right: 1px dotted #ccc;
	border-left: 1px dotted #ccc;
	margin-left: 250px;
	margin-right: 140px;
	padding: 0 10px;

}

.micronews .simple-articles h4 {
	font-size: 100%;
	line-height: 100%;
	margin: 6px 0 10px;
}

.micronews .simple-articles p,
.micronews .simple-articles img {
	display: none;
}